*{margin: 0;padding: 0;}
.orange{color: #f98426;}
ul{display: flex;}
ul>li{list-style: none;}
a{color: #fff;text-decoration: none;}
div.box{width: 100%;min-width: 1220px;}
div.banner>img{width: 100%;min-width: 1220px;display: block;}
header{display: flex;justify-content:space-between;padding: 0 4rem;}
header>div{display: flex;}
header>div>p{margin-right: 10px;text-align: center;}
header>div>p>i.iconfont{font-size: 40px;}
nav{background: #f98426;}
nav>ul{justify-content:flex-end;padding: 0 6rem;}
nav>ul>li{padding: 6px 16px;}
nav>ul>li:hover{background: #fff;}
nav>ul>li:hover>a{color: #f98426;}
div.m_top{display: flex;justify-content:space-between;}
div.m_top>p{line-height: 100px;font-size: 2.6rem;}
div.m_list>ul{justify-content:space-around;margin: 10px 0 40px 0;padding: 0 4rem;}
div.m_list>ul>li{text-align: center;width: 24%;}
div.m_list>ul>li>p{font-size: 1.2rem;color: #999;}
div.m_list>ul>li>p:first-child{font-size: 2rem;color: #333;padding: 12px 0 6px 0;font-weight: bold;}
div.m_list>ul>li:nth-child(1){background: rgb(250,248,236);}
div.m_list>ul>li:nth-child(2){background: rgb(237,248,252);}
div.m_list>ul>li:nth-child(3){background: rgb(252,243,226);}
div.m_list>ul>li:nth-child(4){background: rgb(253,243,252);}
div.m_list>ul>li:hover{box-shadow: 4px 4px 4px #EEE;transition: 0.3s;}
div.m_footer{background: #F2F2F2;}
div.m_footer>h1{text-align: center;padding: 36px 0 20px 0;}
div.m_footer>ul.ctn{justify-content:space-around;padding: 2rem 4rem;}
div.m_footer>ul.ctn>li{width: 30%;text-align: center;height: 150px;border-radius: 24px;overflow: hidden;}
div.m_footer>ul.ctn>li>p>i.iconfont{color: #fff;font-size: 60px;}
div.m_footer>ul.ctn>li>p:first-child{height: 100px;line-height: 100px;background: rgb(240, 90, 35);}
div.m_footer>ul.ctn>li>p:last-child{height: 50px;line-height: 50px;background: #fff;font-size: 26px;color: rgb(173,146,96);}
div.m_footer>ul.ctn>div{height: 150px;line-height: 150px;font-size: 30px;color: rgb(173,146,96);}
div.m_footer>ul.txt{display: block;padding: 0 4rem 1.2rem;}
div.m_footer>ul.txt>li{list-style:inside;line-height: 32px;color: #666;}
footer{background: #D7D7D7;padding: 0 2.6rem;color: #666;display: flex;justify-content:space-between;}
footer>div>ul>li{padding: 6px 16px;color: #333;font-size: 18px;margin-top: 10px;}
footer>div>ul>li:hover{color: #999;cursor: pointer;}
footer>div>p{padding: 0 2rem;font-size: 14px;line-height: 24px;}
footer>div>p>i.iconfont{font-size: 18px;padding-right: 6px;}
footer>img{display: block;width: 100px;height: 100px;padding: 20px 4rem 20px 0;}
div#shade{display: none;position: fixed;top: 50%;left: 0;transform: translateY(-50%);width: 150px;height: 460px;background: #fff;}
div.service{position: relative;}
div.service>div.imgs>img{width: 146px;padding-top: 20px;}
div.service>i.iconfont{position: absolute;top: 0;right: 0;cursor:pointer;}
div.text{width: 100%;padding: 4px 0;text-align: center;}
div.text>p{margin: 6px;}
div.text>p>a{display: block;width: 126px;margin: 0 auto;height: 32px;line-height: 32px;border: 1px solid #f98426;font-size: 12px;background: #f98426;border-radius: 10px;}
div.text>p>a:hover{color: #f98426;background: #fff;}
div.topFoot>div.divGray{color: #f9f9f9;background: #666;width: 100%;padding: 10px 0;margin: 0 auto;font-size: 14px;text-align: center;}
div.topFoot>div.divGray>h4{font-size: 16px;font-weight: 500;padding-bottom: 2px;}
div.topFoot>img{display: block;width: 100px;margin: 10px auto;}
div.topFoot>p{text-align: center;}
div.topFoot>p:last-child{font-size: 14px;margin-top: 8px;}